/* Carousel styling */
#carousel-container {
  display: flex;
  z-index: 0;
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-150vw);
  transition: opacity var(--swift-color-change) 0s;
  --webkit-transition: opacity var(--swift-color-change) 0s;
  --moz-transition: opacity var(--swift-color-change) 0s;
}

#carousel-container.carousel-show {
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateX(0);
  background-color: var(--light-shade);
}

#img-carousel {
  position: relative;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  border: 5px solid var(--dark-shade);
  /* opacity: 1; */
  transition: opacity 0.3s;
  --webkit-transition: opacity 0.3s;
  --moz-transition: opacity 0.3s;
}

.transparent {
  opacity: 0;
}

#carousel-img {
  object-fit: contain;
  display: block;
  max-width: 90vw;
  max-height: 90vh;
  transition: transform 0, opacity 0.3s;
  --webkit-transition: transform 0, opacity 0.3s;
  --moz-transition: transform 0, opacity 0.3s;
}

#carousel-img:hover {
  cursor: zoom-in;
}

#carousel-img.zoomed {
  cursor: zoom-out;
  transition: transform 0.3s;
  --webkit-transition: transform 0.3s;
  --moz-transition: transform 0.3s;
}

.carousel-nav {
  z-index: 3;
  font-size: 2rem;
  color: transparent;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  justify-content: center;
}

.carousel-next {
  right: 0;
}

.carousel-nav:hover .carousel-btn:not(#carousel-close-btn) {
  color: var(--light-shade);
}

.carousel-btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  transition: color var(--swift-color-change);
  --webkit-transition: color var(--swift-color-change);
  --moz-transition: color var(--swift-color-change);
}

.carousel-btn:hover {
  cursor: pointer;
}

#carousel-close-btn {
  position: absolute;
  top: 0;
  transition: color var(--swift-color-change), transform var(--swift-transform);
  --webkit-transition: color var(--swift-color-change),
    transform var(--swift-transform);
  --moz-transition: color var(--swift-color-change),
    transform var(--swift-transform);
}

#carousel-close-btn:hover {
  color: var(--light-shade);
  transform: rotateZ(-90deg);
}
