/* Navbar styling */
.nav {
  height: 3rem;
  position: absolute;
  min-width: 100%;
  background-color: var(--dark-shade);
}

.nav:first-child {
  height: 3rem;
  text-align: center;
}

.logo-nav {
  height: 3rem;
}

.hamburger-btn {
  transition: transform var(--swift-transform), color var(--swift-color-change);
}

.hamburger-btn:before {
  line-height: 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.hamburger-btn:hover {
  color: var(--select-text);
}

.hamburger-btn.open {
  transform: rotateZ(-90deg);
}

.navlink {
  line-height: 3rem;
  font-size: 1.2rem;
  pointer-events: none;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: color var(--swift-color-change) 0s;
}

.navlink:not(.current):hover {
  color: var(--select-text);
}

.navlink.current {
  text-decoration: underline;
}

#dropdown-menu {
  background: inherit;
  opacity: 0;
  min-height: calc(50vh - 3rem);
  max-height: calc(50vh - 3rem);
  /* width: 100%; */
  transition: opacity var(--swift-color-change) 0s;
  -webkit-transition: opacity var(--swift-color-change) 0s;
  -moz-transition: opacity var(--swift-color-change) 0s;
}

#dropdown-menu li {
  transition: opacity var(--swift-color-change) 0s;
  -webkit-transition: opacity var(--swift-color-change) 0s;
  -moz-transition: opacity var(--swift-color-change) 0s;
}

#dropdown-menu li:last-child {
  margin-bottom: 1rem;
}

#dropdown-menu li {
  opacity: 0;
}

#dropdown-menu.show {
  /* z-index: 1; */
  opacity: 1;
}

#dropdown-menu.show li {
  opacity: 1;
}

#dropdown-menu.show li .navlink {
  pointer-events: initial;
}

#explore-btn {
  display: none;
  /* visibility: hidden; */
}

/* Specs styling */
#specs div div {
  border-bottom: 1px solid var(--dark-shade);
}

.spec-icon:before {
  font-size: 1.5rem;
  line-height: 2rem;
}
/* Home info styling */

/* Info sections styling */
.info {
  max-width: 100%;
}

/* .info h3 {
  line-height: 2rem;
} */

/* .info h3 {
  margin-bottom: 0.5rem;
} */

.info div div,
.info div img {
  width: 100%;
}

.info div img {
  max-height: 50vw;
}

/* Footer styling */
.footer {
  width: 100vw;
  /* height: 3rem; */
  background-color: var(--no-bg-shade);
  color: var(--light-text);
}

.footer ul {
  align-items: center;
}

.social-link {
  color: var(--light-text);
  font-size: 1.5rem;
  line-height: 2rem;
}

.social-link {
  transition: color var(--swift-color-change) 0s;
  -webkit-transition: color var(--swift-color-change) 0s;
  -moz-transition: color var(--swift-color-change) 0s;
}

.social-link:hover {
  color: var(--select-text);
}

.footer span {
  font-size: 1rem;
  line-height: 1rem;
}

/* Gallery styling */
#gallery {
  max-width: 100%;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  min-height: 60vw;
  max-height: 60vw;
  min-width: 90vw;
  max-width: 90vw;
}

.gallery-item img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.gallery-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all var(--intermediate-transform);
  -webkit-transition: all var(--intermediate-transform);
  -moz-transition: all var(--intermediate-transform);
  z-index: 1;
}

.gallery-item:before {
  z-index: 1;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: transform var(--intermediate-transform);
  -webkit-transition: transform var(--intermediate-transform);
  -moz-transition: transform var(--intermediate-transform);
  background-color: var(--light-shade);
}

.gallery-item:hover:before {
  transform: translateX(0);
}

.gallery-item-text:hover {
  text-shadow: 0 0 2px var(--dark-shade);
}

.gallery-item:hover .gallery-item-text {
  opacity: 1;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* About page styling */
#about-info img:last-of-type {
  object-position: center 60%;
}

#work-method {
  /* background: url("./personal-img/gabriel-at-work.jpg") no-repeat center / cover; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./personal-img/gabriel-at-work.jpg");
  background-image: url("./personal-img/gabriel-at-work.jpg"),
    linear-gradient(180deg, var(--light-bg), transparent 30%);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  min-height: 100%;
}

#work-method div {
  width: 100%;
}

.work-method-item {
  position: relative;
  min-width: 90vw;
  max-width: 90vw;
  background-color: var(--dark-shade);
  border: 5px var(--light-shade);
  border-style: dashed none;
  color: var(--light-text);
  transition: all var(--intermediate-color-change);
  -webkit-transition: all var(--intermediate-color-change);
  -moz-transition: all var(--intermediate-color-change);
}

.work-method-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
}

.work-method-text,
.work-method-step {
  transition: opacity var(--intermediate-color-change);
  -webkit-transition: opacity var(--intermediate-color-change);
  -moz-transition: opacity var(--intermediate-color-change);
}

.work-method-item:hover,
.work-method-item.highlighted {
  background-color: var(--select-text-shade);
  color: var(--dark-text);
  border-color: var(--dark-shade);
  cursor: pointer;
}

.work-method-item.highlighted .work-method-step p {
  opacity: 0;
}

.work-method-item:hover .work-method-step,
.work-method-item.highlighted .work-method-step {
  opacity: 0.2;
}

.work-method-item.highlighted .work-method-text {
  opacity: 1;
}

/* Contact page styling */
input,
textarea,
select,
#return-btn {
  font-size: 1rem;
  border: 1px solid var(--dark-shade);
  /* box-shadow: 0px 0px 1px 1px var(--dark-shade); */
}

.input-field,
#contact * {
  width: 90vw;
  resize: none;
}

.input-field:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#contact-submit-btn:active,
#return-btn:active {
  border-color: var(--dark-shade);
}

.incorrect-field-text {
  color: rgba(255, 0, 0, 0.8);
}

#submission-msg {
  position: absolute;
}

#submission-msg.form-pending,
#contact-form.form-submitted {
  visibility: hidden;
}

#contact-form.form-submitted *,
#submission-msg.form-pending * {
  transition: all 0s;
}

/* Animations */

/*Media queries*/

/* Adjust navbar layout according to min-width and min-height combo (to avoid 
the dropped-down menu not fitting within 50vh) */
@media screen and (min-width: 568px) {
  /* Navbar styling */
  #hamburger-btn {
    visibility: hidden;
  }

  .nav .display-flex {
    flex-basis: 0;
  }

  .nav .display-flex:first-child {
    flex-grow: 2;
  }

  .nav .display-flex:last-child {
    flex-grow: 1;
  }

  #dropdown-menu {
    opacity: 1;
    background-color: transparent;
    min-height: inherit;
    max-height: inherit;
  }

  #dropdown-menu li {
    margin: 0 1rem;
    opacity: 1;
  }

  #dropdown-menu li:last-child {
    margin-bottom: 0;
  }

  .navlink {
    font-size: 1.5rem;
    pointer-events: initial;
  }

  /* Header styling */
  #explore-btn {
    display: inline-block;
  }

  #welcome h1.not-main {
    padding-bottom: 3rem;
  }

  .flex-turner-s-col {
    flex-direction: row;
  }

  #work-method {
    background-position-y: 70%;
  }
}

@media screen and (min-width: 768px) {
  /* Specs styling */
  .flex-turner-m-col {
    flex-direction: row;
  }

  /* #about-info .flex-turner-m-col:nth-child(even) {
    flex-direction: row-reverse;
  } */

  /* #specs div p {
    text-align: justify;
  } */

  #specs div div {
    border-bottom-color: transparent;
  }

  #specs div div:nth-of-type(2) {
    border-width: 0px 1px;
    border-style: solid;
    border-color: var(--dark-shade);
  }

  /* Home info styling */
  .info {
    max-width: 100%;
  }

  .info .flex-turner-m-col:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .info div:nth-of-type(even) div p {
    border-left: solid 1px var(--dark-shade);
  }

  .info div:nth-of-type(odd) div p {
    border-right: solid 1px var(--dark-shade);
  }

  .info div img {
    max-height: 30vw;
  }

  .info div div,
  .info div img {
    width: 50%;
  }

  /* Gallery styling */
  .gallery-item {
    min-height: 30vw;
    min-width: 45vw;
    max-height: 30vw;
    max-width: 45vw;
  }

  /* Contact page styling */
  .input-field,
  #contact * {
    max-width: 50vw;
  }
  /* Work method styling */

  .work-method-item {
    min-width: 50vw;
    max-width: 50vw;
  }
}

@media screen and (min-width: 1024px) {
  /* .info div img {
    max-height: 25vw;
  } */

  /* Gallery styling */
  .gallery-item {
    min-height: 20vw;
    min-width: 30vw;
    max-height: 20vw;
    max-width: 30vw;
  }

  #work-method {
    /* margin-top: 1rem; */
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    /* background-position-y: 70%; */
    background-position-y: 68%;
  }

  .flex-turner-l-col {
    flex-direction: row;
  }
}

@media screen and (min-width: 1224px) {
  .flex-turner-xl-col {
    flex-direction: row;
  }

  #work-method {
    background-image: url("./personal-img/gabriel-at-work.jpg");
    background-image: url("./personal-img/gabriel-at-work.jpg"),
      linear-gradient(180deg, var(--light-bg), transparent 5%);
  }

  .work-method-item {
    min-width: 22vw;
    max-width: 22vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 992px) {
  #welcome {
    margin-top: 3rem;
  }

  #explore-btn {
    display: none;
  }

  #welcome h1.not-main {
    padding-bottom: 0;
  }
}
